/*
 * Styling icons in material design
 * https://google.github.io/material-design-icons/
 * Sizing and coloring are also available
 * in the later part of the article linked above.
 */

.rotate-90 {
  -webkit-transform: rotate(90deg);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 200px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.adjust-height .mat-list-item {
  height: auto;
}
