<div
  cdkDropList (cdkDropListDropped)="onQuestionDrop($event)"
  fxLayout="column" fxLayoutGap="20px"
  >
  <div
    cdkDrag
    *ngFor="let question of questions; let i = index"
    >

    <!-- DRAG PREVIEW -->
    <mat-card *cdkDragPreview>
      <mat-card-title>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-icon-button
            cdkDragHandle
            class="rotate-90"
            >
            <mat-icon>drag_indicator</mat-icon>
          </button>
          {{question.question}}
        </div>
      </mat-card-title>
    </mat-card>

    <mat-card>
      <mat-card-title>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-icon-button
            cdkDragHandle
            class="rotate-90"
            >
            <mat-icon>drag_indicator</mat-icon>
          </button>
          {{question.question}}
        </div>
      </mat-card-title>
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option
            *ngFor="let option of question.options"
            [selected]="option.correct"
            >
            {{option.answer}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
