<div
  fxLayout="column" fxLayoutGap="20px"
  cdkDropList
  >
  <div cdkDrag
    *ngFor="let question of questions; let i = index"
    >
    <mat-card>
      <mat-card-title>
        <button mat-icon-button cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </button>
        {{question.question}}
      </mat-card-title>
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option
            *ngFor="let option of question.options"
            [selected]="option.correct"
            >
            {{option.answer}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
