<div
  cdkDropList (cdkDropListDropped)="onQuestionDrop($event)"
  fxLayout="column" fxLayoutGap="20px"
  >
  <div
    cdkDrag cdkDragLockAxis="y"
    *ngFor="let poll of questions; let i = index"
    >
    <!-- BEGIN: DRAG PLACEHOLDER -->
    <div
      *cdkDragPlaceholder
      class="question-placeholder"
      >
    </div>
    <!-- END: DRAG PLACEHOLDER -->

    <!-- BEGIN: DRAG PREVIEW -->
    <mat-card
      *cdkDragPreview
      >
      <mat-card-title>
        <div
          fxLayout="column" fxLayoutAlign="center center"
          >
          <button mat-icon-button
            cdkDragHandle
            class="rotate-90"
            >
            <mat-icon>drag_indicator</mat-icon>
          </button>
          <markdown
            [data]="poll.question"
            lineNumbers
            >
          </markdown>
        </div>
      </mat-card-title>
    </mat-card>
    <!-- END: DRAG PREVIEW -->

    <app-checkbox [data]="poll" [(edit)]="editingIndex>-1 && editingIndex===index"></app-checkbox>

  </div>
</div>
